$focus-title-bg: #6F6EFF;
$bg-block: #F2F2F8;
$btn-bg: #FF8900;

$text-main: #5E5E7B;
$text-dark: #14141C;
$text-subtitle: #6F6EFF;
$highlighted: #2D29A7;

$orange: #ff8900;

$bg-color: #14141C;
$red-color: #FF0000;
$h2-color: #FF0000;
$h1-color: white;
$text-color: white;
$header-text: #5E5E7B;

$h2-size: 32px;
$h1-size: 66px;