.become-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__focus-title {
    margin-bottom: 80px;
  }

  &__angle-bottom {
    margin-bottom: 80px;
  }

  &__text {
    max-width: 700px;
    margin-bottom: 45px;

    &--pd {
      max-width: 570px;
    }
  }
}