.bill {
  padding: 15px 35px;
  background: #F2F2F8;
  border-radius: 20px;
  position: relative;

  &__title {
    margin-bottom: 40px;
  }

  &__row {
    display: flex;
    margin-bottom: 5px;
  }

  &__about, &__data {
    flex: 1;
  }

  &__about {
    text-align: right;
    opacity: 0.5;
    margin-right: 5px;
  }

  &__data {
    text-align: left;
  }

  &__open {
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  
}