.calendar {
  max-width: 278px;
  width: 70%;

  @include phones {
    width: 100%;
    max-width: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 0 15px;
    margin-bottom: 15px;
    @include phones {
      font-size: 18px;
    }
  }

  &__control {
    display: flex;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    @include phones {
      margin-bottom: 10px;
    }
  }

  // &__cell-content {
  //   padding: 5px 0;
  // }


  &__text-wrap {
    position: relative;
    z-index: 10;
    color: #fff;
  }

  &__cell {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding: 10px 0;
    position: relative;

    .calendar__cell-content:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 100%;
      background: linear-gradient(180deg, #6F6EFF 0%, #2D29A7 100%);
      opacity: 0;
    }

    @include phones {
      font-size: 18px;
    }

    &--out {
      opacity: .5;
    }
    
    &--today {
      position: relative;
      color: #fff;
      z-index: 10;
      .calendar__cell-content:before {
        opacity: 1;
      }
    }

    &--week {
      color: $purple;
    }

    &--saved {
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: #C4C4C4;
        transition: background-color .2s;
        border-radius: 50%;
      }

      &:hover {
        &:after {
          background-color: $purple;
        }
        .calendar__cell-content + .popup-panel {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &--highlighted {
      .calendar__cell-content {
        background-color: #fff;
      }
    }

    &--hl-first, &:first-child {
      .calendar__cell-content {
        border-radius: 15px 0 0 15px;
      }
    }

    &--hl-last, &:last-child {
      .calendar__cell-content {
        border-radius: 0 15px 15px 0;
      }
    }
  }
}