.client-plus {
  display: flex;

  &__col {
    display: flex;
    align-items: flex-start;

    &--left {
      flex: .64;
      margin-right: 35px;
    }

    &--right {
      flex: .36;
    }
  }

  &__icon {
    margin-right: 40px;
  }
  
}
