.client {
  &__text-title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__text-subtitle {
    margin-bottom: 55px;
    margin-left: 90px;
  }
  
  &__container {
    padding: 120px;
    @include laptops-large {
      padding: 120px 0;
    }
    @include laptops-small {
      padding: 50px 0;
    }
  }


}