.dropdown {

  display: flex;
  flex-direction: column;
    width: 330px;


  padding: 85px 30px 45px;
  background-color: $bg-block;
  border-radius: 30px;

  &__trigger {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__menu {
    margin-bottom: 50px;
  }

  &__socials {
    align-self: center;
  }
}