.footer {
  display: flex;
  align-items: center;
  background-color: #fff;

  &__logo {
    padding: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #F2F2F8; 
  }

  &__text {
    margin-left: 30px;
    margin-right: auto;
  }

  &__info {
    font-size: 18px;
  }

  &__more {
    margin-right: 135px;
  }
  
}