.growth {

  &__content {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 50px;
  }

  &__info {
    position: absolute;
    right: 32px;
    top: 20px;
    display: flex;
    align-items: center;
  }

  &__num {
    margin-right: 5px;
    font-size: 24px;
  }

  
  &__arrow {
    fill: #8DCE97;
    height: 15px;
    width: 13px;    
  }
}