.levels-list {
  margin: 0 -40px;
  display: flex;

  @include laptops-large {
    margin: 0 -15px;
  }

  &__item {
    width: 33.33%;
    padding: 0 40px;

    @include laptops-large {
      padding: 0 15px;
    }
  }
}