.nav-btn:hover + .nav-bar__item-descr {
    opacity: 1;
    height: 20px;
}

.nav-btn {
    fill: $text-main;
    cursor: pointer;

    &:hover {
        transition: fill .4s;
        fill: $orange;
    }
}