.price {
  display: flex;
  align-items: center;
  // padding-right: 20%;

  &__text {
    margin-right: 15px;
    flex: 1;
    text-align: right;

    &--sum {
      font-size: 18px;
    }
  }

  &__link {
    display: flex;
    flex: 1;
    text-align: left;

  }

  &__icon {
    width: 7px;
    height: 5px;
    fill: #5E5E7B;
    transition: fill .3s, transform .3s;

    &--is-active {
      fill: $purple;
      transform: rotate(-180deg);
    }
  }
}