.socials {

  @include laptops-small {
    display: flex;
  }

  &--mobile-menu {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
      @include laptops-small {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    &--mobile-menu {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }

  &__link {
    display: flex;
  }

  &__icon {
    width: 27px;
    height: 27px;
    fill: $orange;

    transition: fill .25s;
    &:hover {
      // fill: #fff;
    }
    
    &--big {
      width: 36px;
      height: 36px;
    }
  }
}