.special {
  
  padding-bottom: 120px;

  &__box {
    border: 2px solid #2D29A7;
    padding: 40px 160px;
    display: flex;
    justify-content: space-between;

    @include laptops-large {
      padding: 40px;
      justify-content: flex-end;
    }

    @include laptops-small {
      padding: 0;
      border: none;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__text {
    max-width: 540px;

    @include laptops-small {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }

  &__left {
    @include laptops-large {
      margin-right: 65px;
    }
    @include laptops-small {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}