.stat {
  position: relative;

  &__container {
    padding-top: 60px;
    display: flex;

    &--vis {
      padding-top: 90px;
      padding-bottom: 300px;
    }
  }

  &__title {
    text-align-last: left;
  }

  &__info {
    flex: 1;
    max-width: 600px;
  }

  &__img-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    &--abs {
      position: absolute;
      right: 0;
      top: 90px;
    }
  }
}