.stat {
  position: relative;

  &__container {
    padding-top: 60px;
    display: flex;

    &--vis {
      padding-top: 90px;
      padding-bottom: 300px;

      @include laptops-small {
        padding-bottom: 120px;
        padding-top: 50px;
      }
    }
  }

  &__title {
    text-align-last: left;
  }

  &__info {
    flex: 1;
    max-width: 600px;
  }

  &__img-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    
    @include laptops-large {
      width: 310px;
    }

    &--abs {
      position: absolute;
      right: 0;
      top: 90px;

      @include laptops-large {
        width: 900px;
        right: -175px;
      }
    }
  }
}