.text-title {
  font-family: PlumbCondensed;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.03em;

  font-weight: 600;
  color: #2D29A7;

  &--thin {
    font-weight: 400;
  }

  @include laptops-small {
    font-size: 30px;
  }
}