.text {
  font-family: PlumbCondensed;
  font-size: 24px;
  line-height: normal;

  color: $text-main;

  &--dark {
    color: $text-dark;
  }

  &--marketing {
    color: #fff;
  }


  @include laptops-small {
    font-size: 20px;
  }


  &--special {
    font-family: PlumbCondensed;
    font-size: 36px;
    line-height: normal;
    text-align: right;
    letter-spacing: 0.1em;

    @include laptops-small {
      font-size: 30px;
      max-width: 380px;
      text-align: left;
    }
  }

  &--opacity {
    opacity: 0.5;
  }

  & p {
    margin: 30px 0;
  }
}