.to-top {
  &__icon {
    width: 24px;
    height: 32px;
    fill: $orange;

    @include laptops {
      display: none;
    }

    transition: transform .3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}