// .visits {
//   &__content {
//     // padding: 20px 0 10px;
//     @include phones {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding: 7px 0 0;
//     }
//   }

  // &__types {
  //   position: absolute;
  //   top: 15px;
  //   right: 50px;

  //   @include phones {
  //     position: static;
  //   }
  // }
// }