.web-info {

  &__cl-title {
    align-self: flex-start;
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__types {
    margin-bottom: 40px;
    @include phones {
      margin-bottom: 25px;
    }
  }
}