.web-num {
  display: flex;
  align-items: center;
  
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: rgba($purple, .14);
    width: 120%;
    height: 110%;
    z-index: -1;
    border-radius: 5px;
  }

  &__logo {
    margin-right: 15px;
  }

  @include phones {
    display: none;
  }

}